{% extends 'base.html.twig' %}

{% block title %}Connexion / Inscription
{% endblock %}

{% block body %}

	<main class="container my-5 content">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card p-4 shadow-sm">
					<ul class="nav nav-tabs" id="authTabs" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab">Connexion</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab">Inscription</button>
						</li>
					</ul>
					<div class="tab-content mt-3" id="authTabsContent">

						<div class="tab-pane fade show active" id="login" role="tabpanel">
							<form method="POST" action="{{ path('traitement_connexion') }}">
								<div class="mb-3">
									<label for="loginEmail" class="form-label">Adresse e-mail</label>
									<input type="email" name="email" class="form-control" id="loginEmail" required>
								</div>
								<div class="mb-3">
									<label for="loginPassword" class="form-label">Mot de passe</label>
									<input type="password" class="form-control" name="password" id="loginPassword" required>
								</div>
								<button type="submit" class="btn btn-primary w-100">Se connecter</button>
							</form>

						</div>

						<div class="tab-pane fade" id="register" role="tabpanel">
							<form action="{{ path('traitement-inscription') }}" method="POST">
								<div class="mb-3">
									<label for="registerName" class="form-label">Nom</label>
									<input type="text" class="form-control" id="registerName" name="registerName" required>
								</div>
								<div class="mb-3">
									<label for="registerEmail" class="form-label">Adresse e-mail</label>
									<input type="email" class="form-control" id="registerEmail" name="registerEmail" required>
								</div>
								<div class="mb-3">
									<label for="registerPassword" class="form-label">Mot de passe</label>
									<input type="password" class="form-control" id="registerPassword" name="registerPassword" required>
								</div>
								<div class="mb-3">
									<label for="registerPasswordConfirmation" class="form-label">Confirmation du mot de passe</label>
									<input type="password" class="form-control" id="registerPasswordConfirmation" name="registerPasswordConfirmation" required>
								</div>
								<button type="submit" class="btn btn-primary w-100">S'inscrire</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
