{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<main class="m-5 content">

		<div>
			<h1 class="mb-4 text-center">Gestion des Utilisateurs</h1>

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Email</th>
						<th>Rôle</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dupont</td>
						<td>jean.dupont@example.com</td>
						<td>Administrateur</td>
						<td>
							<button class="btn btn-warning btn-sm">Modifier</button>
							<button class="btn btn-danger btn-sm">Supprimer</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>


{% endblock %}
