{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<main class="container d-flex align-items-center justify-content-around content accueil-content">
        <img src="{{ asset('images/logo.png') }}" alt="Logo WaterCheck" class="me-4 h-auto logo-img">
        <div class = "align-items-center d-flex flex-column text-zone">
            <h2>Bienvenue sur WaterCheck !</h2>
            <p>Application de gestion de prélèvement d'eau.</p>
            <a href="{{ path('prelevements') }}" class="btn btn-primary">Voir les prélèvements</a>
        </div>
    </main>

{% endblock %}
